{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="u-clearfix u-section-1" id="sec-afd3">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-align-left u-form u-form-1">
        <form action="http://127.0.0.1:8000/apuestas/" method="post"
          class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form"
          style="padding: 10px;">
          <div class="u-form-group u-form-name">
            <label for="name-ca92" class="form-label">Cedula</label>
            <input type="text" placeholder="Introduzca su cedula" id="name-ca92" name="usuario"
              class="form-control" required="">
          </div>
          <div class="u-form-group u-form-select u-form-group-2">
            <label for="select-39d1" class="form-label">Seleccionar partido</label>
            <div class="u-form-select-wrapper">
              <select id="select-39d1" name="partido"
                class="form-control">
                <option value="- - seleccionar - -">- - seleccionar - -</option>
                <option value=1>Brazil vs Croacia</option>
                <option value=2>Argentina vs Holanda</option>
                <option value=3>Marruecos vs Portugal</option>
              </select>
              <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px"
                viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve">
                <polygon class="st0" points="8,12 2,4 14,4 "></polygon>
              </svg>
            </div>
          </div>
          <h4 class="u-form-group u-form-text u-text u-text-1">Introduzca el resultado del partido seleccionado</h4>
          <div class="u-form-group u-form-number u-form-number-layout-number u-form-partition-factor-2 u-form-group-4">
            <label for="number-e60a" class="form-label">Goles Equipo 1</label>
            <div class="u-input-row">
              <input value="0" min="0" max="100" step="1" type="number" placeholder="" id="number-e60a" name="goles_equipo_local"
                class="form-control">
            </div>
          </div>
          <div class="u-form-group u-form-number u-form-number-layout-number u-form-partition-factor-2 u-form-group-5">
            <label for="number-82e9" class="form-label">Goles Equipo 2</label>
            <div class="u-input-row">
              <input value="0" min="0" max="100" step="1" type="number" placeholder="" id="number-82e9" name="goles_equipo_visitante"
                class="form-control">
            </div>
          </div>
          <div class="u-border-3 u-border-grey-dark-1 u-form-group u-form-line u-line u-line-horizontal u-line-1"></div>
          <h4 class="u-form-group u-form-text u-text u-text-2"> Extra</h4>
          <div class="u-form-group u-form-number u-form-number-layout-number u-form-group-8">
            <label for="number-983f" class="form-label">Numero de tarjetas amarillas</label>
            <div class="u-input-row">
              <input value="0" min="0" max="100" step="1" type="number" placeholder="" id="number-983f" name="tarjetas_amarillas"
                class="form-control">
            </div>
          </div>
          <div class="u-form-group u-form-number u-form-number-layout-number u-form-group-9">
            <label for="number-87c4" class="form-label">Numero de Tarjetas rojas</label>
            <div class="u-input-row">
              <input value="0" min="0" max="100" step="1" type="number" placeholder="" id="number-87c4" name="tarjetas_rojas"
              class="form-control">
            </div>
          </div>
          <div class="u-form-group u-form-number u-form-number-layout-number u-form-group-10">
            <label for="number-aec2" class="form-label">Cantidad de Goles en el partido</label>
            <div class="u-input-row">
              <input value="0" min="0" max="100" step="1" type="number" placeholder="" id="number-aec2" name="cantidad_goles"
              class="form-control">
            </div>
          </div>
          <div class="u-align-left u-form-group u-form-submit">
            <input type="submit" value="enviar" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </section>

  {% endblock content %}