{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
  <section class="u-align-center u-clearfix u-section-1" id="sec-21b2">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-expanded-width u-table-responsive u-table-1">
        <table class="table table-striped table-bordered">
          <colgroup>
            <col width="13.9%">
            <col width="52.7%">
            <col width="33.400000000000006%">
          </colgroup>
          <thead class="table-primary">
            <tr style="height: 65px;">
              <td class="u-table-cell">puestos</td>
              <td class="u-table-cell">Nombres</td>
              <td class="u-table-cell">Puntajes</td>
            </tr>
          </thead>
          <tbody>
            {% for i in data %}
            <tr style="height: 60px;">
              <td class="u-table-cell">{{i.index}}</td>
              <td class="u-table-cell">{{i.nombre}}</td>
              <td class="u-table-cell">{{i.puntos}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>


  {% endblock content %}